/* 
Fonts:
Prompt,
Ubuntu Mono,
IBM Plex Mono,
*/
:root {
  --green: #95ff00;
  --blue: #00e1ff;
	--red: #fc0000;
	--orange: #fc6900;
}

body {
  background-color: black;
}

a {
  font-family: 'Ubuntu Mono';
  color: var(--green) !important;
  text-align: left;
  font-size: 14px;
  text-decoration: overline underline;
}

/* Classes */
.com {
  font-family: 'Ubuntu Mono';
  color: var(--green) !important;
  text-align: left;
  font-size: 14px;
}

.alpha {
  font-family: 'IBM Plex Mono';
  color: var(--blue) !important;
  text-align: left;
  font-size: 14px;
}

.hack {
	font-family: 'Ubuntu Mono';
  color: var(--red) !important;
  text-align: left;
  font-size: 14px;
}

.aHack {
	font-family: 'Ubuntu Mono';
  color: var(--red) !important;
  text-align: left;
  font-size: 14px;
	text-decoration: underline;
	text-decoration-color: var(--red);
}

.aHackFile {
	font-family: 'Ubuntu Mono';
  color: var(--red)!important;
  text-align: left;
  font-size: 14px;
	text-decoration: underline;
	text-decoration-color: var(--red);
	text-decoration-line: underline;
	text-decoration-style: underline;
}


.antiviral {
	font-family: 'IBM Plex Mono';
  color: var(--blue) !important;
  text-align: left;
  font-size: 14px;
}